h1 {
  font-size: 50px;
  color: #73205D;
  font-weight: 450;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}
.btn-logIn {
  background-color: #73205D;
  color: white;
}
.link-secondary {
  text-decoration: none;
}
