<div class="container-fluid h-100">
    <div class="row mt-4 justify-content-center">
        <div class="col-lg-6 col-md-8 col-10">
            <div class="card card-content">
                <h1 class="mt-3">ValiV</h1>
                <div class="col-lg-6 col-md-8 col-10">
                    <div class="card card-img">
                        <img src="/assets/img/ojoSanoyOjoGlaucoma.jpg">
                    </div>
                </div>
                <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, voluptate cumque eligendi quas consequuntur nemo sequi quae autem magni ullam perferendis error quasi eum vero optio quidem ratione corrupti ea?
                </p>
                <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, voluptate cumque eligendi quas consequuntur nemo sequi quae autem magni ullam perferendis error quasi eum vero optio quidem ratione corrupti ea?
                </p>
            </div>
        </div>
    </div>
</div>